@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#140f4b;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem; 
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
*{
    font-family: 'Poppins', sans-serif;
    outline: none; border: none;
	box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    text-transform: capitalize;
}
/* header section start  */

.prof{
    position: fixed;
    top: 0px;right: 0;left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    
    text-align: center;
    height: 8rem;
    width: 100%;
    /* max-width: fit-content; */
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    /* align-items: center; */
    
   

}
.prof h2{
    color: #130f40;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 800;
    padding: 5px;
    text-transform: uppercase;
    /* text-align: center; */
   
}
.log{
    /* color: #ff7800; */
    position: absolute;
    left: 55px;
    margin-top: 27px;
    /* font-weight: 900; */
}
.log .material-symbols-outlined{
    font-size: 2.6rem;
    color: #3f1f7b;
    font-weight: 1000;
}

/* search box start */
.prof .icons div{
    height: 3.7rem;
    width: 3.7rem;
    line-height: 3.7rem;
    border-radius: .7rem;
    background: #eee;
    color: var(--black);
    font-size: 1.8rem;
    margin-right: 1.5rem;
    cursor: pointer;
    text-align: center;   
    /* margin-top: 200px;  */
}

.prof .icons{
    position: absolute;
    right: 1.9%;
    top: 22px;
}
.prof .icons div:hover{
    background: var(--orange);
    color: #fff;
}

.prof .search-form{
    position: absolute;
    top: 110%; right: -110%;
    max-width: 50rem;
    height: 3.7rem;
    background: #fff;
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    /* border: 1px solid red; */
    
}

.prof .search-form .btnm{
    background: #fff;
    
}

.prof .search-form.active{
    right: 2rem;
    transition: .2s linear;
}
.prof .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.9rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.prof .search-form label{
    font-size: 1.7rem;
    padding-right: 1.3rem;
    color: var(--black);
    cursor: pointer;
}

.prof .search-form label:hover{
    color: var(--orange);
}

/* search box ends */


/* header section ends  */

.container{
    position: absolute;
    top: 80px;right: 0;left: 0;
    /* width: 7500px; */
    height: 1000px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.916);
    /* border-radius: 15px; */
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    /* margin-bottom: 255px; */
    /* overflow: scroll; */
}
form .user-box{
    position: relative;
    margin-top: 6px;
    /* top: 18px; */
}
form .user-box input{
    width: 100%;
    padding: 10px 0;
    color: #555;
    background: transparent;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(227, 222, 233);
    /* top: 50px; */
}
form .user-box input:focus{
    border-bottom: 2px solid rgb(100, 88, 108);
    top: 50px;
}
form .user-box label{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #555;
    pointer-events: none;
    transition: all .5s ease;
    
}

form .user-box input:focus ~ label,
form .user-box input:valid ~ label{
    top: -15px;
    left: 0;
    color: indigo;
    font-size: 14px;
    font-weight: bold;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
    
}
span label{
    padding: 5px 50px;
    font-size: 18px;
    background-color: indigo;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* position: relative;
    top: 12px; */
    margin: 30px;
    
    
}
span label:hover{
    opacity: .9;
}

.user-bo{
    position: relative;
    top: 20px;
    padding: 13px;
}
h6{
    position: relative;
    top: 11px;
    font-size: 20px;
    
}
.lab{
    position: relative;
    left: 10px;
    font-size: 16px;
}
h2{
    position: relative;
    top: 20px;
    font-size: 35px;
    text-align: center;
    color: indigo;
    letter-spacing: 2px;
}

form{
    position: relative;
    top: 50px;
}
form .user-b{
    position: relative;
    margin-top: 6px;
    top: 28px;
}
form .user-b input{
    width: 100%;
    padding: 10px 0;
    color: #555;
    background: transparent;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(227, 222, 233);
    /* top: 50px; */
}
form .user-b input:focus{
    border-bottom: 2px solid rgb(100, 88, 108);
    top: 50px;
}
form .user-b label{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #555;
    pointer-events: none;
    transition: all .5s ease;
    
}

form .user-b input:focus ~ label,
form .user-b input:valid ~ label{
    top: -15px;
    left: 0;
    color: indigo;
    font-size: 14px;
    font-weight: bold;
}


/* footer section start  */
.footer {
    
    /* justify-content: space-around;
    align-items: center; */
    position: fixed;
    bottom:0; left:0; right: 0;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
    height: 75px;
   
    /* margin-top: 200px; */
    /* margin-top: 250px; */

  }
.material-symbols-outlined{
    color: #130f40;
    /* background-color:#eee;
    padding: 20%;
    border-radius: 50px; */
    font-size: 4.7rem;
    /* box-shadow: var(--box-shadow); */

}

#scanner{
    background-color:#eee;
    padding: 30%;
    border-radius: 80rem;
    font-size: 3.6rem;
    position: relative;
    bottom: 2.5rem;
}

/* footer section ends  */

@media (max-width:500px){
    h2{
       
        font-size: 25px;
        text-align: center;
        color: indigo;
        letter-spacing: 2px;
        
    }
}

@media (max-width:500px){
    .log{
       
        left: 35px;
        
    }

}
@media (max-width:768px){
  
    .prof .search-form{
        width: 86%;

    }
}