@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#054464;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem; 
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
/* body{
    margin: 4%;

} */
/* header section start  */

.prof{
    position: fixed;
    top: 0px;right: 0;left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    
    text-align: center;
    height: 8rem;
    width: 100%;
    /* max-width: fit-content; */
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    /* align-items: center; */
    
   

}
.prof h2{
    color: #130f40;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 800;
    padding: 25px;
    /* text-align: center; */
   
}
.log{
    /* color: #ff7800; */
    position: absolute;
    left: 55px;
    margin-top: 27px;
    /* font-weight: 900; */
}
.log .material-symbols-outlined{
    font-size: 2.6rem;
    color: #3f1f7b;
    font-weight: 1000;
}
/* search box start */
.prof .icons div{
    height: 3.8rem;
    width: 3.8rem;
    line-height: 4rem;
    border-radius: .7rem;
    background: #eee;
    color: var(--black);
    font-size: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
    text-align: center;   
    /* margin-top: 200px;  */
}

.prof .icons{
    position: absolute;
    right: 1%;
    top: 20px;
}
.prof .icons div:hover{
    background: var(--orange);
    color: #fff;
}

.prof .search-form{
    position: absolute;
    top: 110%; right: -110%;
    max-width: 50rem;
    height: 3.7rem;
    background: #fff;
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    /* border: 1px solid red; */
    
}

.prof .search-form .btnm{
    background: #fff;
}

.prof .search-form.active{
    right: 2rem;
    transition: .2s linear;
}
.prof .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.prof .search-form label{
    font-size: 1.7rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.prof .search-form label:hover{
    color: var(--orange);
}

/* search box ends */

/* header section ends  */
/* card section strat */
.container-fluid{
    position: absolute;
    top: 80px;left: 0%;right: 0%;
}
.card-title{
    color: #130f40;
    text-align: center;
    font-weight: 1000;
    
}
.body{
    /* color: #130f40; */
    text-align: center;
}
.bold{
    font-size: 13px;
    font-weight: 700;
}
.price{
    font-size: 13px;
}
.no-underline{
    text-decoration: none;

}
.row{
    margin-top: 8px;
    /* border-radius: 150px; */
}
.card{
    border-radius: 10px;
    padding: 3px;
    box-shadow: 5px 5px 10px;
    background-color: rgb(255, 255, 255);
}
.img-thumbnail{
    border: none;
    border-radius: 10px;
}
/* .no-border{
    border: none;
} */
/* card section end */

/* footer section start  */
.footer {
    
    /* justify-content: space-around;
    align-items: center; */
    position: fixed;
    bottom:0; left:0; right: 0;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
    /* margin-top: 200px; */
    /* margin-top: 250px; */

  }
.material-symbols-outlined{
    color: #130f40;
    /* background-color:#eee;
    padding: 20%;
    border-radius: 50px; */
    font-size: 3rem;
    /* box-shadow: var(--box-shadow); */

}

#scanner{
    background-color:#eee;
    padding: 30%;
    border-radius: 80rem;
    font-size: 4rem;
    position: relative;
    bottom: 2.6rem;
}

/* footer section ends  */

@media (max-width:400px){
    .log{
        left: 25px;
    }
}
@media (max-width:768px){
  
    .prof .search-form{
        width: 90%;

    }
}

