{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'cs/signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@100;300;400;600&family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bf2dfa19e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <div class="container">
        {% for i in messages %}
            <p style="text-align: center;">{{i}}</p>
        {% endfor %}
        <div>
            <h3> <b>Create Your Account </b></h3>
        </div>
        <div class="logo">
            <img src="{% static 'image/logo.jpg' %}" alt="" width="30%" height="30%">
        </div>
        <form action="register" method="POST">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="username" required>
                <label >Username</label>
            </div>
            <div class="user-box">
                <input type="email" name="email" required>
                <label >Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required>
                <label >Password</label>
            </div>
            <div class="user-box">
                <input type="password" name="confirmpassword" required>
                <label >Confirm Password</label>
            </div><br>
            <span>
                
                {% comment %} <label for="chl">SignUp</label> {% endcomment %}
                <input type="submit" class="btn btn-primary" value="SignUp">
            </span>
        </form>
    </div>
    
    <!-- bootstrap js  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="/{% static 'js/bootstrap.js' %}"></script>
</body>
</html>